@model SYP.Models.Portal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<style>
    .card-img-top {
        width: 85% !important;
    }
</style>

<h1>@Model.Baslik</h1>
<hr />

<p>
    <span class="glyphicon glyphicon-time"> @Model.EklenmeTarihi</span>
</p>
<hr />
<img class="card-img-top" src="@Model.Resim" />
<hr />

<p>
    @Model.Icerik
</p>

