@model SYP.Models.viewModel.bagisSayilariPartialModel


<div class="row bagisistatistik ">
    <div class="col-md-6">
        <div class="card text-white bg-danger mb-3" style="max-width: 30rem;">
            <div class="card-header"><h5>Bekleyen İhtiyaç Sahibi Sayısı</h5></div>
            <div class="card-body">
                <h6 class="card-title">Toplam : <strong>@Model.yapilacakyardim</strong> <font face="Comic sans MS" size="3"> adet ihtiyaç sahibi yardım bekliyor. </font> </h6>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-white bg-success mb-3" style="max-width: 30rem;">
            <div class="card-header"><h5>Yapılan Yardım Sayısı</h5></div>
            <div class="card-body">
                <h6 class="card-title">
                        Toplam : <font face="Comic sans MS" size="3"> @Model.yapilanyardim  adet yardım yapıldı.
                    </font>
                </h6>
            </div>
        </div>
    </div>
</div>
