<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <title>Hello, world!</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index"><i class="fa fa-home"></i><font face="Comic sans MS" size="4 "> Sosyal Yardım</font> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link " href="/Muhtac/Create"> <i class="fa fa-bell animated  swing delay-3s slow"></i> Yardım İste</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Muhtac/List"><i class="fa fa-plus-square animated  flash delay-4s slower"></i> Bağış Yap</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Portal"><i class="fa fa-bullhorn animated zoomIn delay-5s slow"></i> Portal</a>
                    </li>
                </ul>


                <form class="form-inline" style="">

                    @if (Session["uyeid"] != null)
                    {
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active" style="padding-right:6px;">
                                <a href="/Giris/Index" style="color:aliceblue">
                                    <i class="fa fa-user">&ensp;</i>
                                    <font face="Comic sans MS" size=" 3">@Session["kullaniciadi"].ToString()</font>

                                </a>
                            </li>

                            <li>
                                <a style="padding-right:6px; padding-left:6px; color:aliceblue;">|</a>
                            </li>
                            <li class="nav-item active">
                                <a href="/Giris/Logout" style="color:aliceblue"><i class="fa fa-power-off"></i>  <font face="Comic sans MS" size=" 3">Çıkış</font> </a>
                            </li>
                            @if (Convert.ToBoolean(Session["yetki"]) == true)
                            {
                                <li class="nav-item active">
                                    <div class="btn-group" style="padding-left:20px">
                                        <button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Admin Panel
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item list-group-item-action list-group-item-success" href="/Admin/Index">1. Onay Ver</a>
                                            <a class="dropdown-item list-group-item-action list-group-item-warning" href="/Muhtac/Index">2. İhtiyaç Sahipleri</a>
                                            <a class="dropdown-item list-group-item-action list-group-item-info" href="/Admin/Yardimlar">3. Yardım Kontrolü</a>
                                            <a class="dropdown-item list-group-item-action list-group-item-info" href="/Admin/Yorumlar">4. Yorum Kontrolü</a>
                                            <a class="dropdown-item list-group-item-action list-group-item-primary" href="/Admin/Kullanicilar">5. Kayıtlı Kullanıcılar</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item list-group-item-action list-group-item-info" href="/Portal/List">6. Portal</a>
                                            <a class="dropdown-item list-group-item-action list-group-item-dark" href="/Admin/Arsiv">7. Arşiv</a>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>

                    }
                    else
                    {
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active" style="">
                                <a href="/Giris/Login" style="color:aliceblue"><font face="Comic sans MS" size=" 3">Giriş Yap</font></a>
                            </li>
                            <li>
                                <a style="padding-right:6px; padding-left:6px; color:aliceblue;">|</a>
                            </li>
                            <li class="nav-item active">
                                <a href="/Giris/Kayit" style="color:aliceblue"><font face="Comic sans MS" size=" 3"> Kayıt Ol </font></a>
                            </li>
                        </ul>

                    }


                </form>


            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">

            <div class="col-md-12" style="padding-top:15px;">
                @RenderBody()
            </div>

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>



