<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <title>Hello, world!</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index"><i class="fa fa-home"></i> Sosyal Yardım</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="/Muhtac/Create"><i class="fa fa-bell"></i>Yardım İste</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Muhtac/List"><i class="fa fa-plus-square"></i> Bağış Yap</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Portal"><i class="fa fa-bullhorn"></i> Portal</a>
                    </li>
                </ul>


                <form class="form-inline" style="">

                    @if (Session["uyeid"] != null)
                    {
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active" style="padding-right:6px;">
                                <a href="/Giris/Index" style="color:aliceblue"><i class="fa fa-user">&ensp;</i>@Session["kullaniciadi"].ToString()</a>
                            </li>

                            <li>
                                <a style="padding-right:6px; padding-left:6px; color:aliceblue;">|</a>
                            </li>
                            <li class="nav-item active">
                                <a href="/Giris/Logout" style="color:aliceblue"><i class="fa fa-power-off"></i> Çıkış </a>
                            </li>
                            @if (Convert.ToBoolean(Session["yetki"]) == true)
                            {
                                <li class="nav-item active" style="">
                                    <a href="/Admin/Index" style="color:burlywood; padding-left:9px;"><strong>Admin Panel</strong></a>
                                </li>
                            }
                        </ul>

                    }
                    else
                    {
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active" style="">
                                <a href="/Giris/Login" style="color:aliceblue">Giriş Yap</a>
                            </li>
                            <li>
                                <a style="padding-right:6px; padding-left:6px; color:aliceblue;">|</a>
                            </li>
                            <li class="nav-item active">
                                <a href="/Giris/Kayit" style="color:aliceblue">Kayıt Ol</a>
                            </li>
                        </ul>

                    }


                </form>


            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">

            <div class="col-md-12" style="padding-top:15px;">
                @RenderBody()
            </div>

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>



