<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index">Sosyal Yardım</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="/Muhtac/Create">Yardım İste</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Muhtac/List">Bağış Yap</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Portal">Portal</a>
                    </li>

                </ul>




                <form class="form-inline" style="">

                    @if (Session["uyeid"] != null)
                    {
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active" style="padding-right:6px;">
                                <a href="/Giris/Index" style="color:aliceblue"><i class="far fa-user">&ensp;</i>@Session["kullaniciadi"].ToString()</a>
                            </li>

                            <li>
                                <a style="padding-right:6px; padding-left:6px; color:aliceblue;">|</a>
                            </li>
                            <li class="nav-item active">
                                <a href="/Giris/Logout" style="color:aliceblue"> Çıkış </a>
                            </li>
                            @if (Convert.ToBoolean(Session["yetki"]) == true)
                            {
                                <li class="nav-item active" style="">
                                    <a href="/Admin/Index" style="color:burlywood; padding-left:9px;"><strong>Admin Panel</strong></a>
                                </li>
                            }
                        </ul>

                    }
                    else
                    {
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active" style="">
                                <a href="/Giris/Login" style="color:aliceblue">Giriş Yap</a>
                            </li>
                            <li>
                                <a style="padding-right:6px; padding-left:6px; color:aliceblue;">|</a>
                            </li>
                            <li class="nav-item active">
                                <a href="/Giris/Kayit" style="color:aliceblue">Kayıt Ol</a>
                            </li>
                        </ul>

                    }


                </form>


            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row">

            <div class="col-md-12" style="padding-top:15px;">
                @RenderBody()
            </div>

        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>



