

@using (Html.BeginForm("List", "Muhtac", FormMethod.Get))
{

    <div class="card" style="margin-bottom:20px;">
        <div class="card-header">
            <h6>İhtiyaç Sahibi Ara</h6>
        </div>
        <div class="card-body">
            <div class="input-group">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control " id="q" name="q" type="search" placeholder="Muhtaç Ara" aria-label="Search" style="">
                    <button class="btn btn-block my-2 " type="submit" style="text-align:center;">Ara</button>
                </form>
            </div>
        </div>

    </div>

}